/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.header {
    margin: 30px;
    font-size: 18px;
    font-family: Verdana, sans-serif;
}
html, body {
    height: 100%;
}
body {
    margin: 0;
}
.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}